<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>修改公告信息</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="__PUBLIC__/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="__PUBLIC__/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="__PUBLIC__/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="__PUBLIC__/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="__PUBLIC__/media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="__PUBLIC__/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="__PUBLIC__/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="__PUBLIC__/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/bootstrap-fileupload.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/jquery.gritter.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/chosen.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/select2_metro.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/jquery.tagsinput.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/clockface.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/bootstrap-wysihtml5.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/datepicker.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/timepicker.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/colorpicker.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/bootstrap-toggle-buttons.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/daterangepicker.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/datetimepicker.css" />

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/media/css/multi-select-metro.css" />

	<link href="__PUBLIC__/media/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="__PUBLIC__/media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<include file="Index/head" />


	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				

				<li class="start  ">

					<a href="__MODULE__/Index/index">

					<i class="icon-home"></i> 

					<span class="title">控制台</span>

					<span class="selected"></span>

					</a>

				</li>


				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">权限管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="__MODULE__/Access/index">
								浏览员工信息
							</a>

						</li>

						<li >

							<a href="__MODULE__/Role/index">

								浏览角色信息
							</a>

						</li>

						<li >

							<a href="__MODULE__/Node/index">

								浏览节点信息
							</a>

						</li>
					</ul>

				</li>

				
				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">成员管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li class="active">

							<a href="__MODULE__/User/index">

							浏览员工信息</a>

						</li>

						<li >

							<a href="__MODULE__/Member/index">

							浏览用户信息</a>

						</li>

					</ul>

				</li>


				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">版块管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">



						<li >

							<a href="__MODULE__/Topic/index">

							浏览版块信息</a>

						</li>


							<li >

							<a href="__MODULE__/Topic/add">

							新增版块</a>

						</li>

					</ul>

				</li>



				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">帖子管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="__MODULE__/News/index">

							浏览发帖信息</a>

						</li>

						<li >

							<a href="__MODULE__/Reply/index">

							浏览回帖信息</a>

						</li>

						<li >

							<a href="__MODULE__/Reply/index">

							浏览评论信息</a>

						</li>

					</ul>

				</li>


				<li class="active">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">公告管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li class="active">

							<a href="__MODULE__/Notice/index">

							浏览公告信息</a>

						</li>

						<li >

							<a href="__MODULE__/Notice/add">

							添加公告</a>

						</li>

					</ul>

				</li>


				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">广告管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="__MODULE__/Ad/index">

							浏览广告信息</a>

						</li>

						<li >

							<a href="__MODULE__/Ad/add">

							新增广告信息</a>

						</li>

					</ul>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-th"></i> 

					<span class="title">图片管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="__MODULE__/Image/index">

							浏览相册</a>

						</li>

						<li >

							<a href="__MODULE__/Image/add">

							添加相册</a>

						</li>

					</ul>

				</li>		



			

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->  

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<div id="portlet-config" class="modal hide">

				<div class="modal-header">

					<button data-dismiss="modal" class="close" type="button"></button>

					<h3>portlet Settings</h3>

				</div>

				<div class="modal-body">

					<p>Here will be a configuration form</p>

				</div>

			</div>

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

						<div class="color-panel hidden-phone">

							<div class="color-mode-icons icon-color"></div>

							<div class="color-mode-icons icon-color-close"></div>

							<div class="color-mode">

								<p>THEME COLOR</p>

								<ul class="inline">

									<li class="color-black current color-default" data-style="default"></li>

									<li class="color-blue" data-style="blue"></li>

									<li class="color-brown" data-style="brown"></li>

									<li class="color-purple" data-style="purple"></li>

									<li class="color-grey" data-style="grey"></li>

									<li class="color-white color-light" data-style="light"></li>

								</ul>

								<label>

									<span>Layout</span>

									<select class="layout-option m-wrap small">

										<option value="fluid" selected>Fluid</option>

										<option value="boxed">Boxed</option>

									</select>

								</label>

								<label>

									<span>Header</span>

									<select class="header-option m-wrap small">

										<option value="fixed" selected>Fixed</option>

										<option value="default">Default</option>

									</select>

								</label>

								<label>

									<span>Sidebar</span>

									<select class="sidebar-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

								<label>

									<span>Footer</span>

									<select class="footer-option m-wrap small">

										<option value="fixed">Fixed</option>

										<option value="default" selected>Default</option>

									</select>

								</label>

							</div>

						</div>

						<!-- END BEGIN STYLE CUSTOMIZER -->  

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							修改信息

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="__MODULE__/Index/index">首页</a> 

								<i class="icon-angle-right"></i>

							</li>

							<li>

								公告管理

								<i class="icon-angle-right"></i>

							</li>

							<li>浏览公告信息
								<i class="icon-angle-right"></i>
							</li>
							<li>修改信息</li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN SAMPLE FORM PORTLET-->   

						<div class="portlet box blue">

							<div class="portlet-title">

								

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>


									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body form">

								<!-- BEGIN FORM-->

								<form method="post" action="__URL__/update" class="form-horizontal" >
									<input type="hidden" name="notice_id" value="{$vo.notice_id}">
									<div class="control-group">

										<label class="control-label">公告内容</label>

										<div class="controls">

												<textarea name="notice_content" class="large m-wrap" rows="4" >{$vo.notice_content}</textarea>

										</div>
									
									</div>
									

									<div class="control-group">

										<label class="control-label">发布者</label>

										<div class="controls">

											<input type="text" name="notice_author" class="span6 m-wrap popovers" value="{$vo.notice_author}" />

										</div>
									
									</div>
									

									<div class="form-actions">

										<button type="submit" class="btn blue">提交</button>

										<button type="reset" class="btn">重置</button>                            

									</div>

								</form>

								<!-- END FORM-->       

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

					</div>

				</div>

				
				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->

	<div class="footer">

		

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="__PUBLIC__/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="__PUBLIC__/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="__PUBLIC__/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="__PUBLIC__/media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="__PUBLIC__/media/js/excanvas.min.js"></script>

	<script src="__PUBLIC__/media/js/respond.min.js"></script>  

	<![endif]-->   

	<script src="__PUBLIC__/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="__PUBLIC__/media/js/jquery.blockui.min.js" type="text/javascript"></script>  

	<script src="__PUBLIC__/media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="__PUBLIC__/media/js/jquery.uniform.min.js" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<script type="text/javascript" src="__PUBLIC__/media/js/ckeditor.js"></script>  

	<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-fileupload.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/chosen.jquery.min.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/select2.min.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/wysihtml5-0.3.0.js"></script> 

	<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-wysihtml5.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/jquery.tagsinput.min.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/jquery.toggle.buttons.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-datepicker.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-datetimepicker.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/clockface.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/date.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/daterangepicker.js"></script> 

	<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-colorpicker.js"></script>  

	<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-timepicker.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/jquery.inputmask.bundle.min.js"></script>   

	<script type="text/javascript" src="__PUBLIC__/media/js/jquery.input-ip-address-control-1.0.min.js"></script>

	<script type="text/javascript" src="__PUBLIC__/media/js/jquery.multi-select.js"></script>   

	<script src="__PUBLIC__/media/js/bootstrap-modal.js" type="text/javascript" ></script>

	<script src="__PUBLIC__/media/js/bootstrap-modalmanager.js" type="text/javascript" ></script> 

	<!-- END PAGE LEVEL PLUGINS -->

	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	<script src="__PUBLIC__/media/js/app.js"></script>

	<script src="__PUBLIC__/media/js/form-components.js"></script>     

	<!-- END PAGE LEVEL SCRIPTS -->

	<script>

		jQuery(document).ready(function() {       

		   // initiate layout and plugins

		   App.init();

		   FormComponents.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->   

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->

</html>